* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #F4F3FF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.sectionOne h1 {
  background-image: linear-gradient(to right, #b454ff, #30ff38);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.addEmailContainer p {
  color: #b2b2b2;
  font-weight: 500;
  font-size: small;
  margin-bottom: 14px;
  text-align: center;
}

.gradientPattern {
  overflow: hidden;
  width: 592px;
  right: 9px;
  position: absolute;
  z-index: 0;
  top: -61px;
}

.mainLogo {
  z-index: 1;
}